In [1]:
import pandas as pd

In [2]:
a=[1,2,3]
b=pd.Series(a)
b

0    1
1    2
2    3
dtype: int64

In [3]:
a=[1,2,3]
e=["aaa"]
b=pd.DataFrame(a,columns=e)
#r=pd.DataFrame(a,columns="aaa") ไม่ได้่
b

   aaa
0    1
1    2
2    3

In [4]:
a=[1,2,3]
r=pd.DataFrame(a,columns=["aai"])
r

   aai
0    1
1    2
2    3