In [9]:
# ชื่อไม่เหมือนกัน
import pandas as pd
products = [
    {"Name" : "คีย์บอร์ต" , "category" : "อุปกรณ์คอม" , "Price" : 500}, #บรรทัด1
    {"name" : "เมาส์", "category" : "อุปกรณ์คอม2" , "Price" : 300},#บรรทัด2
    {"Name" : "ตุ๊กตา", "category" : "ของเล่น", "Price" :900 },#บรรทัด3
    {"Name" : "ทุเรียน" , "category" : "ผลไม่" , "Price":70}#บรรทัด4
]

In [10]:
a=pd.DataFrame(products)
a

        Name     category  Price   name
0  คีย์บอร์ต   อุปกรณ์คอม    500    NaN
1        NaN  อุปกรณ์คอม2    300  เมาส์
2     ตุ๊กตา      ของเล่น    900    NaN
3    ทุเรียน        ผลไม่     70    NaN

In [12]:
a.set_index(["Price"],inplace=True)
a

            Name    category
Price
500    คีย์บอร์ต  อุปกรณ์คอม
300        เมาส์  อุปกรณ์คอม
900       ตุ๊กตา     ของเล่น
70       ทุเรียน       ผลไม่