In [1]:
import pandas as pd
df = pd.read_csv("EP16.3.csv",encoding="utf-8")#กรณีไฟล์อยู่ไหนไฟล์เดอร์เดียวกัน
df.head()

  คีย์บอร์ต   อุปกรณ์คอม  500 Unnamed: 3
0       NaN  อุปกรณ์คอม2  300      เมาส์
1    ตุ๊กตา      ของเล่น  900        NaN
2   ทุเรียน        ผลไม่   70        NaN

In [18]:
for k in df.values:
    print(k[0])

nan
ตุ๊กตา
ทุเรียน

In [15]:
df[0:1]

  คีย์บอร์ต   อุปกรณ์คอม  500 Unnamed: 3
0       NaN  อุปกรณ์คอม2  300      เมาส์