In [2]:
import pandas as pd
df = pd.read_excel("dataupdate.xlsx","weather")

In [3]:
df.loc[(df.Event=="เมฆมาก")|(df.Temperature<=18)]

          Day  Temperature  WindSpeed   Event
1  2020-12-02           28          8  เมฆมาก
4  2020-12-05           20          5  เมฆมาก
8  2020-12-09           17          5  เมฆมาก
13 2020-12-14           31          5  เมฆมาก
17 2020-12-18           18          5    ฝนตก
19 2020-12-20           28          4  เมฆมาก
20 2020-12-21           25          5  เมฆมาก
21 2020-12-22           38          2  เมฆมาก
26 2020-12-27           28          9  เมฆมาก
27 2020-12-28           30          2  เมฆมาก

In [5]:
df.loc[(df.Event=="เมฆมาก") & (df.Temperature<=18)]

         Day  Temperature  WindSpeed   Event
8 2020-12-09           17          5  เมฆมาก